<div ng-controller="RatingsGridCtrl">
	<div class="page-header">
	  <h1><i class="fa fa-film"></i> Movie Ratings</h1>
	</div>

	<br/><br/>

	<h4 class="sub-header pull-left">TOP BOX OFFICE HITS</h4>

	<div class="table-container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><a href="" ng-click="sort( 'rating' )">Rating</a></th>
					<th><a href="" ng-click="sort( 'title' )">Title</a></th>
					<th><a href="" ng-click="sort( 'gross' )">Gross</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="movie in movies">
					<td><i ng-class="{ 'fa fa-smile-o': movie.rating >= 80, 'fa fa-meh-o': movie.rating >= 60 && movie.rating < 80, 'fa fa-frown-o': movie.rating < 60}"></i> {{movie.rating}}</td>
					<td>{{movie.title}}</td>
					<td>{{movie.gross | currency:"USD$"}}</td>
				</tr>
			</tbody>          		
		</table>
	</div>

	<div class="text-center">
		<pagination total-items="totalItems" page="currentPage" max-size="maxSize" items-per-page="pageSize" class="pagination-sm" boundary-links="true"></pagination>
	</div>
</div>