<div class="header">
  <ul class="nav nav-pills pull-right">
  	<li ng-repeat="link in navItems" ng-class="{ 'active': $index == selectedIndex }" ng-click="itemClicked($index)">
	    <a href="{{link.url}}">{{link.name}}</a>
	  </li>
  </ul>
  <h3 class="text-muted">Rotten Tomatos</h3>
</div>