<!DOCTYPE html>
<html ng-app="movieRatingApp">
<head>
	<title>Rotten Tomatos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Raitings of your favorite movies.">
	<meta name="author" content="Dan Martin" />
	<link rel="stylesheet" type="text/css" href="css/<%= grunt.config.get('pkg.name') %>.css"/>
	<style>
		/* Space out content a bit */
		body {
		  padding-top: 20px;
		  padding-bottom: 20px;
		}

		/* Everything but the jumbotron gets side spacing for mobile first views */
		.header,
		.marketing,
		.footer {
		  padding-right: 15px;
		  padding-left: 15px;
		}

		/* Custom page header */
		.header {
		  border-bottom: 1px solid #e5e5e5;
		}
		/* Make the masthead heading the same height as the navigation */
		.header h3 {
		  padding-bottom: 19px;
		  margin-top: 0;
		  margin-bottom: 0;
		  line-height: 40px;
		}

		/* Custom page footer */
		.footer {
		  padding-top: 19px;
		  color: #777;
		  border-top: 1px solid #e5e5e5;
		}

		/* Customize container */
		@media (min-width: 768px) {
		  .container {
		    max-width: 730px;
		  }
		}
		.container-narrow > hr {
		  margin: 30px 0;
		}

		/* Main marketing message and sign up button */
		.jumbotron {
		  text-align: center;
		  border-bottom: 1px solid #e5e5e5;
		}
		.jumbotron .btn {
		  padding: 14px 24px;
		  font-size: 21px;
		}

		/* Supporting marketing content */
		.marketing {
		  margin: 40px 0;
		}
		.marketing p + h4 {
		  margin-top: 28px;
		}

		/* Responsive: Portrait tablets and up */
		@media screen and (min-width: 768px) {
		  /* Remove the padding we set earlier */
		  .header,
		  .marketing,
		  .footer {
		    padding-right: 0;
		    padding-left: 0;
		  }
		  /* Space out the masthead */
		  .header {
		    margin-bottom: 30px;
		  }
		  /* Remove the bottom border on the jumbotron for visual effect */
		  .jumbotron {
		    border-bottom: 0;
		  }
		}

		/* Container for the table */
		.table-container {
			height: 275px;
		}
	</style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-ui.js"></script>
  <script type="text/javascript" src="js/<%= grunt.config.get('pkg.name') %>.js"></script>
</head>
<body ng-controller="AppCtrl">
	
	<div class="container">

		<div ng-include=" 'header.tpl.html' "></div>

    <div ng-view></div>

		<br/><br/>

  </div>

  <div id="footer">
    <div class="container">  
    <center>    
      <ul class="list-inline">
      	<li><a href="{{user.email}}"><i class="fa fa-envelope fa-lg"></i></a></li>
      	<li><a href="{{user.linkedIn}}"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
      	<li><a href="{{user.twitter}}"><i class="fa fa-twitter-square fa-lg"></i></a></li>
      	<li><a href="{{user.gmail}}"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
      </ul>
    </center>
    </div>
  </div>

</body>
</html>