<div class="jumbotron">
  <h1><i class="fa fa-film"></i> Rotten Tomatos</h1>
  <p class="lead">Your number one source for finding movies worth watching.</p>
</div>

<div class="row marketing">
	<div class="col-lg-6">
	  <h4>Bootstrap 3</h4>
	  <p>Used their <a href="http://getbootstrap.com/examples/jumbotron-narrow/">Jumbotron</a> starter template to speed up the UI development.</p>
	</div>

	<div class="col-lg-6">
	  <h4>Angular-UI</h4>
	  <p>Used their <a href="http://angular-ui.github.io/bootstrap/#/pagination">ui.bootstrap.pagination</a> directive for the pagination component and tied it to the table.</p>
	</div>
</div>

<div class="row marketing">
	<div class="col-lg-6">
	  <h4>Grunt</h4>
	  <p>Used <a href="http://gruntjs.com/">Grunt</a> for performing various tasks, concatenating, minifying, building a distribution.</p>
	</div>
</div>
